<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google-signin-client_id" content="956280528267-ov9gmukq6h4dnpq4591j0o02ove38s48.apps.googleusercontent.com">

        <title>@ViewData["Title"]</title>
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        @{Html.RenderPartial("_link");}

        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <script src="~/js/global/opac.js"></script>
        
        <script src="~/js/popper.js"></script>
        
        <script src="~/js/bootstrap.min.js"></script>

        @* <script src="~/js/bootbox/bootbox.min.js"></script>
        <script src="~/js/bootbox/bootbox.locales.min.js"></script> *@

        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

        <style>

            @@media screen and (max-width: 600px) {
                .res-navbar {
                    overflow: hidden;
                    background-color: darkslategrey;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    margin-bottom: 0 !important;
                }
            }

            .res-navbar a {
                float: left;
                display: block;
                color: grey;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 10px;
            }

                .res-navbar a:hover {
                    background: #f1f1f1;
                    color: black;
                }

                .res-navbar a.active {
                    color: white;
                }

            .page-wrapper {
                min-height: 100vh;
            }

            body {
                font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
                font-weight: 400;
                font-size: 14px;
                background-image: url(~/assets/images/bg.png);
            }

            .wrapper {
                margin: 0 auto;
            }

            .wrapper--w960 {
                max-width: 960px;
            }

            .wrapper--w780 {
                max-width: 780px;
            }

            .wrapper--w680 {
                max-width: 680px;
            }

            .row {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }

            .row-space {
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -moz-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }

            .col-2 {
                width: -webkit-calc((100% - 30px) / 2);
                width: -moz-calc((100% - 30px) / 2);
                width: calc((100% - 30px) / 2);
            }

            input {
                outline: none;
                margin: 0;
                border: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                width: 100%;
                font-size: 14px;
                font-family: inherit;
            }

            textarea {
                outline: none;
                margin: 0;
                border: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                width: 100%;
                font-size: 14px;
                font-family: inherit;
            }

            .input--style-4 {
                line-height: 50px;
                background: #fafafa;
                -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 0 20px;
                font-size: 16px;
                color: #666;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

                .input--style-4::-webkit-input-placeholder {
                    /* WebKit, Blink, Edge */
                    color: #666;
                }

                .input--style-4:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: #666;
                    opacity: 1;
                }

                .input--style-4::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: #666;
                    opacity: 1;
                }

                .input--style-4:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #666;
                }

                .input--style-4:-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: #666;
                }

            .label {
                font-size: 16px;
                color: #555;
                text-transform: capitalize;
                display: block;
                margin-bottom: 5px;
            }

            .input-group {
                position: relative;
                margin-bottom: 22px;
            }

            .input-group-icon {
                position: relative;
            }

            .input-icon {
                position: absolute;
                font-size: 18px;
                color: #999;
                right: 18px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;
            }

            .form-text {
            }

            .text-muted {
                color: #6c757d !important;
            }
        </style>
    </head>
    <body style="font-family:'Lato', sans-serif !important;">

        @RenderBody()
    </body>
</html>
