
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="todo-container">
    <div class="row">
        <div class="col-md-12" style="padding: 0;">
            <div class="todo-tasks-container">
                <div class="todo-head">
                    <button class="btn btn-square btn-sm red todo-bold" data-toggle="modal" href="#todo-task-modal">New Ask!</button>
                    <h3>
                        <span class="todo-grey">Ask for : </span> Library Center
                    </h3>
                    @*<p class="todo-inline">
                            <a class="todo-add-button" href="@Url.Action("Admin","HelpDesk")" data-toggle="modal">></a>
                        </p>
                        <p class="todo-inline">
                            <a class="todo-add-button" href="@Url.Action("Index","Dashboard")" data-toggle="modal">></a>
                        </p>*@
                </div>
                <ul class="todo-tasks-content">
                    <li class="todo-tasks-item">
                        <h4 class="todo-inline">
                            <a data-toggle="modal" href="#todo-task-modal-1">Masalah tidak bisa login</a>
                        </h4>
                        <p class="todo-inline todo-float-r">
                            <span class="todo-red">TODAY</span>
                        </p>
                    </li>
                    <li class="todo-tasks-item">
                        <h4 class="todo-inline">
                            <a data-toggle="modal" href="#todo-task-modal-2">Tidak dapat membuka eBook, hanya 5 halaman saja yang terbuka</a>
                        </h4>
                        <p class="todo-inline todo-float-r">
                            <span class="todo-red">TODAY</span>
                        </p>
                    </li>
                    <li class="todo-tasks-item">
                        <h4 class="todo-inline">
                            <a data-toggle="modal" href="#todo-task-modal-3">Buku tentang "Studi pengembangan commercial code di bidang pelayaran" tidak ditemukan</a>
                        </h4>
                        <p class="todo-inline todo-float-r">
                            <span class="todo-green">02 AUG</span>
                        </p>
                    </li>
                    <li class="todo-tasks-item">
                        <h4 class="todo-inline">
                            <a data-toggle="modal" href="#todo-task-modal-4">Apakah bisa datang untuk meminjam buku</a>
                        </h4>
                        <p class="todo-inline todo-float-r">
                            <span class="todo-green">02 AUG</span>
                        </p>
                    </li>
                    <li class="todo-tasks-item">
                        <h4 class="todo-inline">
                            <a data-toggle="modal" href="#todo-task-modal-5">Saya mengadakan penelitian, apakah saya boleh datang ke perpustakaan?</a>
                        </h4>
                        <p class="todo-inline todo-float-r">
                            <span class="todo-green">01 AUG</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="todo-task-modal-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div class="modal-content scroller" style="height: 100%; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h3 class="todo-task-modal-bg">Masalah tidak bisa login</h3>
                    @*<button class="btn btn-square btn-sm green todo-bold todo-inline">Complete Task</button>
                        <p class="todo-task-modal-title todo-inline">
                            Due:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015">
                        </p>
                        <p class="todo-task-modal-title todo-inline">
                            Assign:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Luke</a>
                        </p>*@
                </div>
                <div class="modal-body todo-task-modal-body">
                    <p class="todo-task-modal-bg">
                        Saya tidak bisa login menggunakan akun google ataupun menggunakan akun facebook
                    </p>
                    <h4>
                        Attach File
                        <a class="todo-add-button" href="javascrip:;">+</a>
                    </h4>
                    <p class="todo-task-file">
                        <i class="fa fa-file-o todo-grey"></i> screenshoot_1.jpg
                        <i class="fa fa-times todo-remove-file"></i>
                    </p>
                    <p class="todo-task-file">
                        <i class="fa fa-file-o todo-grey"></i> screenshoot_2.jpg
                        <i class="fa fa-times todo-remove-file"></i>
                    </p>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet light" style="padding-left:10px">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-hide hide"></i>
                            <span class="caption-subject font-hide bold uppercase">Chats</span>
                        </div>
                        <div class="actions">
                            <div class="portlet-input input-inline">
                                <div class="input-icon right">
                                    <i class="icon-magnifier"></i>
                                    <input type="text" class="form-control input-circle" placeholder="search...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <ul class="chats">
                            <li class="out">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Administrator </a>
                                    <span class="datetime"> at 13:11 </span>
                                    <span class="body"> Mohon dapat dicoba kembali, terdapat beberapa kesalahan di sitem kami. Terima kasih. </span>
                                </div>
                            </li>
                            <li class="in">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Guest </a>
                                    <span class="datetime"> at 13:30 </span>
                                    <span class="body"> Baik, Terima kasih banyak. </span>
                                </div>
                            </li>
                        </ul>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here...">
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
                <div class="modal-footer">
                    <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn green" data-dismiss="modal">Submit</button>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 1px; position: absolute; top: 1px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 203.275px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
</div>

<div id="todo-task-modal-2" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div class="modal-content scroller" style="height: 100%; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h3 class="todo-task-modal-bg">Tidak dapat membuka eBook, hanya 5 halaman saja yang terbuka</h3>
                    @*<button class="btn btn-square btn-sm green todo-bold todo-inline">Complete Task</button>
                        <p class="todo-task-modal-title todo-inline">
                            Due:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015">
                        </p>
                        <p class="todo-task-modal-title todo-inline">
                            Assign:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Luke</a>
                        </p>*@
                </div>
                <div class="modal-body todo-task-modal-body">
                    <p class="todo-task-modal-bg">
                        Saya tidak bisa login melihat semua halaman pada ebook yang saya buka, kenapa ya?
                    </p>
                    <h4>
                        Attach File
                        <a class="todo-add-button" href="javascrip:;">+</a>
                    </h4>
                    <p class="todo-task-file">
                        <i class="fa fa-file-o todo-grey"></i> screenshoot_1.jpg
                        <i class="fa fa-times todo-remove-file"></i>
                    </p>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet light" style="padding-left:10px">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-hide hide"></i>
                            <span class="caption-subject font-hide bold uppercase">Chats</span>
                        </div>
                        <div class="actions">
                            <div class="portlet-input input-inline">
                                <div class="input-icon right">
                                    <i class="icon-magnifier"></i>
                                    <input type="text" class="form-control input-circle" placeholder="search...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <ul class="chats">
                            <li class="out">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Administrator </a>
                                    <span class="datetime"> at 14:11 </span>
                                    <span class="body"> Anda harus melakukan login terlebih dulu untuk melihat keseluruhan halaman. Terima kasih. </span>
                                </div>
                            </li>
                            <li class="in">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Guest </a>
                                    <span class="datetime"> at 14:30 </span>
                                    <span class="body"> Baik, Terima kasih. </span>
                                </div>
                            </li>
                        </ul>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here...">
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
                <div class="modal-footer">
                    <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn green" data-dismiss="modal">Submit</button>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 1px; position: absolute; top: 1px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 203.275px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
</div>

<div id="todo-task-modal-3" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div class="modal-content scroller" style="height: 100%; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h3 class="todo-task-modal-bg">Buku tentang "Studi pengembangan commercial code di bidang pelayaran" tidak ditemukan</h3>
                    @*<button class="btn btn-square btn-sm green todo-bold todo-inline">Complete Task</button>
                        <p class="todo-task-modal-title todo-inline">
                            Due:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015">
                        </p>
                        <p class="todo-task-modal-title todo-inline">
                            Assign:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Luke</a>
                        </p>*@
                </div>
                <div class="modal-body todo-task-modal-body">
                    <p class="todo-task-modal-bg">
                        Buku tentang "Studi pengembangan commercial code di bidang pelayaran" tidak ditemukan, kenapa ya?
                    </p>
                    <h4>
                        Attach File
                        <a class="todo-add-button" href="javascrip:;">+</a>
                    </h4>
                    <p class="todo-task-file">
                        <i class="fa fa-file-o todo-grey"></i> screenshoot_1.jpg
                        <i class="fa fa-times todo-remove-file"></i>
                    </p>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet light" style="padding-left:10px">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-hide hide"></i>
                            <span class="caption-subject font-hide bold uppercase">Chats</span>
                        </div>
                        <div class="actions">
                            <div class="portlet-input input-inline">
                                <div class="input-icon right">
                                    <i class="icon-magnifier"></i>
                                    <input type="text" class="form-control input-circle" placeholder="search...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <ul class="chats">
                            <li class="out">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Administrator </a>
                                    <span class="datetime"> at 14:11 </span>
                                    <span class="body"> Anda harus melakukan login terlebih dulu untuk melihat keseluruhan buku yang ada. Terima kasih. </span>
                                </div>
                            </li>
                            <li class="in">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Guest </a>
                                    <span class="datetime"> at 14:30 </span>
                                    <span class="body"> Ok, Terima kasih. </span>
                                </div>
                            </li>
                        </ul>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here...">
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
                <div class="modal-footer">
                    <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn green" data-dismiss="modal">Submit</button>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 1px; position: absolute; top: 1px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 203.275px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
</div>

<div id="todo-task-modal-4" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div class="modal-content scroller" style="height: 100%; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h3 class="todo-task-modal-bg">Apakah bisa datang untuk meminjam buku</h3>
                    @*<button class="btn btn-square btn-sm green todo-bold todo-inline">Complete Task</button>
                        <p class="todo-task-modal-title todo-inline">
                            Due:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015">
                        </p>
                        <p class="todo-task-modal-title todo-inline">
                            Assign:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Luke</a>
                        </p>*@
                </div>
                <div class="modal-body todo-task-modal-body">
                    <p class="todo-task-modal-bg">
                        Apakah bisa datang untuk meminjam buku di masa pandemi seperti ini?
                    </p>
                    <h4>
                        Attach File
                        <a class="todo-add-button" href="javascrip:;">+</a>
                    </h4>
                    <p class="todo-task-file">
                        <i class="fa fa-file-o todo-grey"></i> screenshoot_1.jpg
                        <i class="fa fa-times todo-remove-file"></i>
                    </p>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet light" style="padding-left:10px">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-hide hide"></i>
                            <span class="caption-subject font-hide bold uppercase">Chats</span>
                        </div>
                        <div class="actions">
                            <div class="portlet-input input-inline">
                                <div class="input-icon right">
                                    <i class="icon-magnifier"></i>
                                    <input type="text" class="form-control input-circle" placeholder="search...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <ul class="chats">
                            <li class="out">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Administrator </a>
                                    <span class="datetime"> at 15:11 </span>
                                    <span class="body"> Saat ini kami belum membuka perpustakaan untuk umum, saran di rumah aja. Terima kasih. </span>
                                </div>
                            </li>
                            <li class="in">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Guest </a>
                                    <span class="datetime"> at 15:30 </span>
                                    <span class="body"> Ok, Terima kasih. </span>
                                </div>
                            </li>
                        </ul>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here...">
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
                <div class="modal-footer">
                    <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn green" data-dismiss="modal">Submit</button>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 1px; position: absolute; top: 1px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 203.275px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
</div>

<div id="todo-task-modal-5" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div class="modal-content scroller" style="height: 100%; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h3 class="todo-task-modal-bg">Saya mengadakan penelitian, apakah saya boleh datang ke perpustakaan?</h3>
                    @*<button class="btn btn-square btn-sm green todo-bold todo-inline">Complete Task</button>
                        <p class="todo-task-modal-title todo-inline">
                            Due:
                            <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015">
                        </p>
                        <p class="todo-task-modal-title todo-inline">
                            Assign:
                            <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Luke</a>
                        </p>*@
                </div>
                <div class="modal-body todo-task-modal-body">
                    <p class="todo-task-modal-bg">
                        Saya mengadakan penelitian, apakah saya boleh datang ke perpustakaan?
                    </p>
                    <h4>
                        Attach File
                        <a class="todo-add-button" href="javascrip:;">+</a>
                    </h4>
                    <p class="todo-task-file">
                        <i class="fa fa-file-o todo-grey"></i> screenshoot_1.jpg
                        <i class="fa fa-times todo-remove-file"></i>
                    </p>
                </div>
                <!-- BEGIN PORTLET-->
                <div class="portlet light" style="padding-left:10px">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-hide hide"></i>
                            <span class="caption-subject font-hide bold uppercase">Chats</span>
                        </div>
                        <div class="actions">
                            <div class="portlet-input input-inline">
                                <div class="input-icon right">
                                    <i class="icon-magnifier"></i>
                                    <input type="text" class="form-control input-circle" placeholder="search...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" id="chats">
                        <ul class="chats">
                            <li class="out">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Administrator </a>
                                    <span class="datetime"> at 16:11 </span>
                                    <span class="body"> Saat ini kami belum membuka perpustakaan untuk umum, saran di rumah aja. Terima kasih. </span>
                                </div>
                            </li>
                            <li class="in">
                                <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar.png">
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> Guest </a>
                                    <span class="datetime"> at 16:30 </span>
                                    <span class="body"> Ok, Terima kasih. </span>
                                </div>
                            </li>
                        </ul>
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Type a message here...">
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a href="" class="btn blue icn-only">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
                <div class="modal-footer">
                    <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn green" data-dismiss="modal">Submit</button>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 1px; position: absolute; top: 1px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 203.275px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
</div>