@model OPAC.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<div class="container" style="height: 100%; border: none;">
    <div class="row h-100">
        <div class="col-md-12 my-auto">
            <div class="card card-block w-25 mx-auto" style="border: none;">
                <form asp-action="ForgotPassword" class="form-signin">

                    <div class="form-group">
                        <label asp-for="NIP" class="sr-only">Email</label>
                        <input asp-for="NIP" type="text" class="form-control" placeholder="Username">
                        <span asp-validation-for="NIP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="sr-only">Email</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>
                @{
                    if (ViewBag.ResultCode != null) {

                        if (ViewBag.ResultCode == 1) {

                            <div class="div-alert">
                                <div style="padding: 5px;">
                                    <div id="inner-message" class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        @ViewBag.ResultMessage
                                    </div>
                                </div>
                            </div>
                        }
                        else if (ViewBag.ResultCode == 0) {

                            <div class="div-alert">
                                <div style="padding: 5px;">
                                    <div id="inner-message" class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        @ViewBag.ResultMessage
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>