<div class="d-flex flex-wrap bd-highlight">
    @{
        if (ViewBag.LoadingAuthorCollection != null)
        {
            if (ViewBag.AuthorCollectionData != null)
            {
                var bookID = 0;
                var bookCover = "";
                var bookFolder = "";
                var bookTitle = "";
                var bookRating = 0.0;
                var totalReviewer = 0;
                var totalView = 0;
                @foreach (var item in ViewBag.AuthorCollectionData)
                {
                    bookID = item.GetType().GetProperty("BookID").GetValue(item, null);
                    bookFolder = item.GetType().GetProperty("FileFolder").GetValue(item, null);
                    bookCover = bookFolder + item.GetType().GetProperty("BookCover").GetValue(item, null);
                    bookTitle = item.GetType().GetProperty("BookTitle").GetValue(item, null);
                    bookRating = item.GetType().GetProperty("BookRating").GetValue(item, null);
                    totalReviewer = item.GetType().GetProperty("TotalReviewer").GetValue(item, null);
                    totalView = item.GetType().GetProperty("TotalView").GetValue(item, null);

                    <div style="border:none;padding: 0;padding-left: 15px;">
                        <div class="mt-element-card mt-element-overlay" style="width:200px">
                            <div class="mt-card-item" style="border: none;">
                                <div class="mt-card-avatar mt-overlay-1">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@bookID">
                                        <img src="@bookCover" style="height: 144px; width: 97px; margin-left: auto; margin-right: auto;" />
                                    </a>
                                </div>
                                <div class="mt-card-content">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <div class="mt-card-social">
                                                @bookRating <i class="fa fa-star" style="color:gold"></i> | 
                                                @totalReviewer reviews |
                                                @totalView views
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 5px;padding-left: 15px;">
                                        <p class="mt-card-desc">
                                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@bookID" style="color:#212529">
                                                @bookTitle
                                            </a>
                                        </p>      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <span class="alert alert-info" style="padding-left:15px; width: 100%; text-align: center;">Nothing to show here</span>
            }
        }
        else
        {
            <p style="padding-left:15px;"><i class="fa fa-spin fa-spinner"></i> Please wait while we do something...</p>
        } 
    }
</div>